html,
body {
    padding: 0;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
/* css global utilities */
.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.justify-start {
    justify-content: start;
}
.justify-between {
    justify-content: space-between;
}
/* end css global utilities */

.pixeltext {
    font-family: 'Press Start 2P';
}
.normaltext {
    font-family: 'Poppins';
}


.pills {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 4px 6px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.bar {
    background-color: #ff9f1c;
    border-radius: 25%;
    width: 20px;
    height: 10px;
    margin: 2px;
}